export PATH="${PWD}/.build${PATH:+:${PATH}}"

stat .build/cecli >/dev/null 2>&1 && {
  . <(cecli completion $(basename $SHELL))
}

command -v buf >/dev/null 2>&1 && . <(buf completion $(basename $SHELL))
